.backgroundContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.backgroundImage {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  opacity: 0.15; /* 降低不透明度，使背景更加淡化 */
  filter: blur(1px); /* 添加轻微模糊效果 */
} 